.navbar {
  background-color: #f9f9fa;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100svw;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 140px;
  /* border-bottom: 1px solid green; */
}

.logo img {
  width: 250px;
  height: auto;
  padding: 3px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  background: none;
  border: none;
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navLinks li {
  position: relative;
  width: 100%;
}

.navLinks a, .dropbtn {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.navLinks a:hover, .dropbtn:hover {
  background-color: rgb(202, 227, 117);
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #e3e3e3;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  border-radius: 5px;
  text-align: left;
  z-index: 2000;
}

.dropdownMenu li {
  display: block;
}

.dropdownMenu li a {
  color: black;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
}

.dropdownMenu li a:hover {
  background-color: rgb(202, 227, 117);
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

/* Stacking links into 3 rows before switching to hamburger */
@media (max-width: 1300px) {
  .navLinks {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    display: flex;
    text-align: center;
    width: 100%;
  }

  .navLinks li {
    flex: 1 1 calc(5.33% - 10px); /* 3 items per row */
    text-align: center;
    max-width: 400px; /* Prevents overly wide links */
  }
}

/* Mobile Navbar */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background: #e3e3e3;
    position: absolute;
    top: 140px;
    left: 20%;
    width: 60svw;
    padding: 10px 0;
    margin: auto;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks li {
    text-align: center;
  }

  .navLinks a {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
  }

  .hamburger {
    display: block;
  }
}
